<div class="row">
    <div class="col-2 cor-azul">
        <h2 (click)="voltar()"><i class="fas fa-arrow-left"></i></h2>
    </div>
    <div class="col-10 cor-azul texto-branco">
        <h2 class="titulo-upper text-center pt-2" >
            Avaliações
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link active">Responsáveis</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" >Alunos</button>
            </li>
            <li class="nav-item">
              <button class="nav-link">
                Professores
              </button>
            </li>
          </ul>
    </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="card pt-2 mr-3 ml-3" >
          <img class="card-img-top imagem-card" src="../../assets/img/usuario.png" alt="Imagem comentário">
          <div class="card-body">
            <h5 class="card-title">Carolina</h5>
            <p class="card-text">Um exemplo de texto.</p>
            <small>24/11/2019</small>
          </div>
      </div>
      <div class="card pt-2 mr-3 ml-3">
          <img class="card-img-top imagem-card" src="../../assets/img/usuario.png" alt="Imagem comentário">
          <div class="card-body">
            <h5 class="card-title">Victor</h5>
            <p class="card-text">Um exemplo de texto.</p>
            <small>24/11/2019</small>
          </div>
      </div>
      <div class="card pt-2 mr-3 ml-3" >
          <img class="card-img-top imagem-card" src="../../assets/img/usuario.png" alt="Imagem comentário">
          <div class="card-body">
            <h5 class="card-title">Carolina</h5>
            <p class="card-text">Um exemplo de texto.</p>
            <small>24/11/2019</small>
          </div>
      </div>
  </div>
</div>


