
<div class="row">
    <div class="col-2 bg-light">
        <h2 (click)="voltar()"><i class="fas fa-arrow-left"></i></h2>
    </div>
    <div class="col-10 bg-light">
        <h2 class="titulo-upper text-center pt-2" >
            Escolas
        </h2>
    </div>
</div>

<div class="mapa" >
    <agm-map [latitude]="lat" [longitude]="long">
        <agm-marker *ngFor="let m of escolas; let i = index"
            (markerClick)="clickedMarker(m.name)"
            [latitude]="m.lat"
            [longitude]="m.long">
            <agm-info-window>
                <strong>{{detalhesEscola}}</strong>
            </agm-info-window>
    </agm-marker>
    </agm-map>
</div>
<app-card-escola></app-card-escola>